.Buttons {
  margin: auto;
  width: 50vw;
  background-color: rgb(63, 63, 63);
  border-radius: 10px;
}
button {
  margin: 1vw;
  margin-top: 1vw;
  width: 8vw;
  height: 3.5vw;
  font-size: 2.25vw;
  font-weight: bold;
  border-radius: 15px;
  background-color: rgb(134, 134, 134);
  color: white;
  outline: none;
}
#pink {
  background-color: rgb(173, 42, 60);
}
#result {
  background-color: rgb(56, 171, 209);
}
#on {
  background-color: rgb(65, 148, 69);
}
.number {
  background-color: rgb(179, 179, 179);
}
p {
  font-size: 0.5vw;
}

@media screen and (max-width: 600px) {
  .Buttons {
    width: 95vw;
    margin-top: 25vw;
  }
  button {
    margin: 2vw;
    width: 15vw;
    height: 10vw;
    font-size: 6vw;
    margin-top: 5vw;
  }
}